<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/field-list-style.css">
    <link rel="stylesheet" type="text/css" href="/css/error-style.css">
</head>
<body>
<form action="#" th:action="@{/user}" th:object="${user}" method="post" id="container">
    <h2>Login</h2>
    <p th:if="${session.logError} != null"  class="error" id="logErrorMessage">
        Invalid login or password
    </p>
    <table class="table">
        <tr>
            <td>
                <label th:for="userName">User name:</label>
                <input type="text" th:id="userName" th:field="*{userName}">
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <label th:for="password">Password</label>
                <input type="password" th:id="password" th:field="*{password}">
                </p>
            </td>
        </tr>
    </table>
    <button class="btn btn-primary" type="submit">Log in</button>
    <div><a href="/singup">Sign up</a> </div>
</form>
</body>
</html>