<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New field</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/error-style.css">
</head>
<body>
<div id="container">
    <h2>Add new field</h2>

    <form action="#" th:action="@{/user/newField}" th:object="${newField}" method="post">

        <input type="hidden" th:field="*{id}">

        <table class="table">

            <tr>
                <td>
                    <label th:for="fieldName">Field name:</label>
                    <input type="text" th:id="fieldName" th:field="*{name}">
                    <p th:if="${#fields.hasErrors('name')}"
                       th:errors="*{name}"
                       class="error">Field name error</p>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <label th:for="area">Field area (ha):</label>
                    <input type="text" th:id="area" th:field="*{area}">
                    <p th:if="${#fields.hasErrors('area')}"
                       th:errors="*{area}"
                       class="error">Area error</p>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>

</body>
</html>