<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User home page</title>
    <link rel="stylesheet" type="text/css" href="/css/field-list-style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div id="container">
    <p th:text="'User: '+${session.userName}"></p>
    <h2>Fields list</h2>
    <hr>

    <div id="content">
        <input type="button" value="Add field"
               onclick="window.location.href='/user/newField'; return false;"
               class="add-button"
        />
        <input type="text" id="searchingFields" onkeyup="myFunction()"
               placeholder="Search for field name.." title="Type in a field name">
    </div>

    <table id="listTable" class="table">
        <thead class="thead-dark">
        <tr>
            <th>Field name</th>
            <th>Field area (ha)</th>
            <th>Actions</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="tempField : ${fields}">
            <td th:text="${tempField.getName()}"/>
            <td th:text="${tempField.getArea()}"/>
                        <td>
                            <a th:href="@{/user/showOperations(id=${tempField.getId()})}">Operations</a>
                            |
                            <a th:href="@{/user/updateFieldData(id=${tempField.getId()})}">Update</a>
                            |
                            <a th:href="@{/user/delete(id=${tempField.getId()})}"
                               onclick="if (!(confirm('Are you sure you want to delete this field?'))) return false">
                                Delete
                            </a>

                        </td>
        </tr>
        </tbody>
        </table>

    </div>


<script src="/js/fieldSearcher.js"></script>

</body>
</html>